<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 🔁 Proxy API requests to Node.js -->
        <rule name="ProxyAPI" stopProcessing="true">
          <match url="^(send-email|test)$" />
          <action type="Rewrite" url="http://localhost:8011/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
